<nav>
  <a href="/stories" style="text-decoration: none"><span class="logo">WeStory</span></a>
  <div class="create-button">
    <span class="create">Create</span>
    <i class="fa-solid fa-pencil"></i>
  </div>
  <div class="user">
    <a href="/users/<%= id %>" style="text-decoration: none;"><i class="fa-solid fa-user"></i></a>
    <a href="/logout" style="text-decoration: none;"><span class="logout">Logout</span></a>
  </div>
</nav>