<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Quicksand&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <nav>
    <a href="/stories"><span class="logo">WeStory</span></a>
    <div class="create-button">
      <span class="create">Create</span>
      <i class="fa-solid fa-pencil"></i>
    </div>
    <div class="user">
      <a href="/users/<%= id %>"><i class="fa-solid fa-user"></i></a>
      <a href="/logout"><span class="logout">Logout</span></a>
    </div>
  </nav>
  <section class="new-story">
    <div class="new-story-header">
      <span>Create New Story!</span>
    </div>
    <div class="new-story-content">
      <i class="fa-solid fa-book"></i>
      <form method="POST" action="">
        <textarea name="text" id="story-text"></textarea>
      </form>
    </div>
    <div class="form-icons">
      <i class="fa-solid fa-check"></i>
      <i class="fa-regular fa-trash-can"></i>
    </div>
  </section>
  <span class="welcome">Welcome @Username</span>
  <section class="story-container" id="story-container">
    <article class="story">
      <div class="story-header">
        <span class="story-title">Lord of the Things</span>
        <span class="story-creator-handle">@creator-username</span>
      </div>
      <div class="story-content">
        <i class="fa-solid fa-book"></i>
        <p class="story-paragraph">This is a story, the character limit is upwards of 160 characters. This paragraph is about 160 characters in length. No story, or contribution can be longer!</p>
      </div>
    </article>
    <article class="story">
      <div class="story-header">
        <span class="story-title">Lord of the Things</span>
        <span class="story-creator-handle">@creator-username</span>
      </div>
      <div class="story-content">
        <i class="fa-solid fa-book"></i>
        <p class="story-paragraph">This is a story, the character limit is upwards of 160 characters. This paragraph is about 160 characters in length. No story, or contribution can be longer!</p>
      </div>
    </article>
    <article class="story">
      <div class="story-header">
        <span class="story-title">Lord of the Things</span>
        <span class="story-creator-handle">@creator-username</span>
      </div>
      <div class="story-content">
        <i class="fa-solid fa-book"></i>
        <p class="story-paragraph">This is a story, the character limit is upwards of 160 characters. This paragraph is about 160 characters in length. No story, or contribution can be longer!</p>
      </div>
    </article>
    <article class="story">
      <div class="story-header">
        <span class="story-title">Lord of the Things</span>
        <span class="story-creator-handle">@creator-username</span>
      </div>
      <div class="story-content">
        <i class="fa-solid fa-book"></i>
        <p class="story-paragraph">This is a story, the character limit is upwards of 160 characters. This paragraph is about 160 characters in length. No story, or contribution can be longer!</p>
      </div>
    </article>
  </section>
  <footer>
    <i class="fa-solid fa-arrow-up"></i>
  </footer>
</body>

</html>
