<!DOCTYPE html>
<html lang="en">

<head>
  <title>WeStory</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Quicksand&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/events.js"></script>
  <script defer src="/scripts/composer.js"></script>
  <script defer src="/scripts/story-creation.js"></script>
</head>

<body data-userid="<%= id %>">
  <header>
    <%- include('partials/_header') %>
  </header>

  <div class="responsive">

    <section class="new-story">
      <div class="new-story-header">
        <span>Create New Story!</span>
      </div>
      <div class="new-story-content">
        <i class="fa-solid fa-keyboard"></i>
        <form id="story-form">
          <textarea name="text" id="story-title" placeholder="Story Title"></textarea>
          <textarea name="text" id="story-text" placeholder="Begin to write..."></textarea>
          <div class="form-icons">
            <button type="submit" class="fa-solid fa-check"></button>
            <button type="reset" class="fa-regular fa-trash-can"></button>
          </div>
        </form>
      </div>
    </section>
    <div class="error-exceed-max-chars">
      <i class="fa-solid fa-triangle-exclamation"></i>
      <span class="error-message">You have exceeded the maximum characters in your story!</span>
      <i class="fa-solid fa-triangle-exclamation"></i>
    </div>
    <div class="error-empty-story">
      <i class="fa-solid fa-triangle-exclamation"></i>
      <span class="error-message">You cannot submit an empty story!</span>
      <i class="fa-solid fa-triangle-exclamation"></i>
    </div>
    <span class="welcome">Welcome @<%= username %></span>
    <section class="story-container" id="story-container"></section>
  </div>
  <div class="separator"></div>
  <footer>
    <i class="fa-solid fa-arrow-up"></i>
  </footer>
</body>

</html>
