<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Quicksand&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/register.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <nav>
    <span class="logo">WeStory</span>
  </nav>
  <div class="first-prompt">
    <span class="welcome">Welcome To</span>
    <span class="westory">WeStory</span>
  </div>
  <div class="second-prompt">
    <span>Register to begin writing!</span>
  </div>
  <form method="POST" action="" id="login-form">
    <input type="text" id="user-email" placeholder="Email"></input>
    <input type="password" id="user-password" placeholder="Password"></input>
  </form>
  <span class="register-button">Register</span>
  <div class="login">
    <span class="login-prompt">Already a member?</span>
    <span class="login-button">Login</span>
  </div>
</body>

</html>