<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Quicksand&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/story.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/contribution-loader.js"></script>
  <script defer src="/scripts/contribution-creation.js"></script>
  <script defer src="/scripts/upvote.js"></script>
  <script defer src="/scripts/story-loader.js"></script>
  <script defer src="/scripts/story-page.js"></script>
</head>

<body data-storyid="<%= storyId %>" data-userid="<%= id %>">
  <nav>
    <a href="/stories" style="text-decoration: none"><span class="logo">WeStory</span></a>
    <div class="finish-button">
      <span class="finish">Finish</span>
      <i class="fa-regular fa-gem"></i>
    </div>
    <div class="user">
      <a href="/users/<%= id %>" style="text-decoration: none;"><img src="<%= avatarUrl %>"></a>
      <a href="/logout" style="text-decoration: none;"><span class="logout">Logout</span></a>
    </div>
  </nav>
  <section class="story-container">
    <article class="story">
      <div class="story-header">
        <div class="story-heading">
          <span class="story-title">Lord of the Things</span>
          <span class="story-creator-handle">@creator-username</span>
        </div>
          <span class="image">INSERT IMAGE</span>
      </div>
      <div class="story-content">
      </div>
    </article>
  </section>
  <span class="toggle-contributions">View Contributions</span>
  <section class="new-contribution">
    <form>
      <textarea name="text" id="contribution-text" placeholder="Start writing to contribute!"></textarea>
      <div class="form-icons">
        <button type="submit"
          <i class="fa-solid fa-check"></i>
        </button>
        <button type="reset"
          <i class="fa-regular fa-trash-can"></i>
        </button>
      </div>
    </form>
  </section>
  <section class="contributions-container"></section>
  <div class="separator"></div>
  <footer>
    <i class="fa-solid fa-arrow-up"></i>
  </footer>
</body>

</html>
