body {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c0c0c0;
  opacity: 1; /* Firefox */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFA726;
  height: 100px;
  width: 100%;
  position: fixed;
}

.logo {
  padding-left: 48px;
  font-family: "Lobster", cursive;
  color: #FFFFFF;
  font-size: 40px;
}

.logo:hover {
  cursor: pointer;
}

.user {
  display: flex;
  color: #E65100;
  font-family: "Bebas Neue", cursive;
  padding-right: 48px;
}

.user img {
  width: 3em;
  border-radius: 50%;
  border: 3px solid #E65100;
}

.logout {
  font-size: 40px;
  color: #E65100;
}

.logout:hover {
  cursor: pointer;
}

.fa-user {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E65100;
  outline: solid #FFFFFF;
  border-radius: 30px;
  font-size: 30px;
  margin-right: 20px;
  padding: 0.3em;
  width: 50px;
  height: 50px;
}

.fa-user:hover {
  cursor: pointer;
}

.create-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #E65100;
  border-radius: 30px;
  outline: solid #FFFFFF;
  width: 100px;
  height: 100px;
  margin-top: 50px;
  background-color: #FFA726;
  box-shadow: 0 6px 10px 0px gray;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
.create-button:hover {
  cursor: pointer;
  animation-name: bounce-down;
  animation-timing-function: ease;
}

.create {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
}

.fa-pencil {
  font-size: 40px;
}

.error-exceed-max-chars {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-family: "Quicksand", cursive;
  font-weight: bold;
  border: 3px solid red;
  height: 50px;
  margin: 20px 48px 15px 48px;
}

.error-empty-story {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-family: "Quicksand", cursive;
  font-weight: bold;
  border: 3px solid red;
  height: 50px;
  margin: 20px 48px 15px 48px;
}

.error-message {
  margin: 0px 30px 0px 30px;
}

.new-story {
  margin: 0 48px 0px 48px;
  background-color: #EEEEEE;
  outline: solid #2196F3 2px;
  height: 300px;
  box-shadow: 5px 5px 4px gray;
}

.new-story-header {
  padding-left: 10px;
  background-color: #2196F3;
  font-family: "Bebas Neue", cursive;
  color: #FFFFFF;
  font-size: 30px;
}

.new-story-content {
  display: flex;
}

form {
  width: 100%;
}

#story-title {
  resize: none;
  overflow-y: hidden;
  height: 45px;
  width: 80%;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  background: transparent;
  border-color: transparent;
  border-bottom-color: #2196f3;
  border-bottom-width: thick;
  margin-top: 1em;
}

#story-text {
  background-color: #EEEEEE;
  width: 80%;
  height: 140px;
  font-family: "Quicksand", cursive;
  font-size: 26px;
  border: hidden;
  resize: none;
}

.fa-keyboard {
  font-size: 80px;
  margin: 40px 20px 10px 40px;
  color: #FFA726;
  text-shadow: -5px 0 #e65100, 0 5px #2196f3, 5px 0 #2196f3, 0 -5px #2196f3;
  padding-right: 20px;
}

.counter {
  font-family: 'Quicksand', cursive;
  font-size: 20px;
  color: #2196F3;
  font-weight: bold;
}

.form-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -35px;
}

.fa-check {
  color: #E65100;
  background-color: #FFA726;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid #FFFFFF;
  border-radius: 30px;
  font-size: 25px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  box-shadow: 0 6px 10px 0px gray;
}

.fa-check:hover {
  cursor: pointer;
}

.fa-trash-can {
  color: #E65100;
  background-color: #FFA726;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid #FFFFFF;
  border-radius: 30px;
  font-size: 25px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 0 6px 10px 0px gray;
}

.fa-trash-can:hover {
  cursor: pointer;
}

textarea:focus {
  outline: none;
}

.profile-header {
  margin: 20px 0px 10px 48px;
  font-family: "Quicksand", cursive;
  font-size: 35px;
  font-weight: bold;
}

.fa-book {
  font-size: 100px;
  margin: 35px 20px 10px 20px;
}

.responsive {
  display: flex;
  flex-direction: column;
  padding-top: 155px;
}

.user-stories-container {
  display: flex;
  flex-direction: column;
}

.cover-content {
  padding-right: 2vw;
}

.cover-content img {
  height: 100%;
  width: 100%;
  width: 155px;
}

.story {
  margin: 10px 48px min(35px, 3.5vw) 48px;
  background-color: #EEEEEE;
  outline: solid #2196F3 2px;
  box-shadow: 5px 5px 4px gray;
}

.story-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: min(1.5vw, 10px);
  background-color: #2196F3;
  color: #FFFFFF;
}

.story-title {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  color: #FFFFFF;
}

.story-title:hover {
  cursor: pointer;
}

a {
  display:flex;
  align-items: center;
  justify-content: center;
}

.story-creator-handle {
  font-family: "Quicksand", cursive;
  color: #EEEEEE;
  margin-right: 10px;
}

.story-creator-handle:hover {
  cursor: pointer;
}

.story-content {
  display: flex;
  flex-direction: row;
  max-height: 155px;
  overflow: hidden;
}

.story-paragraph {
  font-family: "Quicksand", cursive;
  font-size: 2.5vw;
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  width: 100%;
}

.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-right: 15px;
}

.fa-circle-check {
  color: #2196F3;
  font-size: 40px;
  border-radius: 30px;
  outline: solid #FFFFFF;
}

.status-message {
  font-family: 'Quicksand', cursive;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

.separator {
  margin: 10px 0px 130px 0px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: #FFA726;
  position: fixed;
}

.fa-arrow-up {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E65100;
  background-color: #FFA726;
  box-shadow: 0 6px 10px 0px gray;
  border-radius: 50px;
  font-size: 80px;
  outline: solid #FFFFFF;
  padding: 0.3em;
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.fa-arrow-up:hover {
  cursor: pointer;
  animation-name: bounce-up;
  animation-timing-function: ease;
}

@keyframes bounce-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (min-width: 950px) {
  .story-content {
    max-height: 155px;
  }
  .story-paragraph {
    font-family: "Quicksand", cursive;
    font-size: 26px;
  }
  .cover-content img {
    max-height: 155px;
  }
}
