body {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFA726;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.logo {
  padding-left: 48px;
  font-family: "Lobster", cursive;
  color: #FFFFFF;
  font-size: 40px;
}

.logo:hover {
  cursor: pointer;
}

.user {
  display: flex;
  font-family: "Bebas Neue", cursive;
  padding-right: 48px;
}

.user img {
  width: 3em;
  border-radius: 50%;
  border: 3px solid #E65100;
}

.logout {
  font-size: 40px;
  color: #E65100;
}

.logout:hover {
  cursor: pointer;
}

.fa-user {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E65100;
  outline: solid #FFFFFF;
  border-radius: 30px;
  font-size: 30px;
  margin-right: 20px;
  padding: 0.3em;
  width: 50px;
  height: 50px;
}

.fa-user:hover {
  cursor: pointer;
}

.finish-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #E65100;
  border-radius: 30px;
  outline: solid #FFFFFF;
  width: 100px;
  height: 100px;
  margin-top: 50px;
  background-color: #FFA726;
  box-shadow: 0 6px 10px 0px gray;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
.finish-button:hover {
  cursor: pointer;
  animation-name: bounce-down;
  animation-timing-function: ease;
}

.finish {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
}

.fa-gem {
  font-size: 40px;
}

.story-container {
  display: flex;
  flex-direction: column;
}

.story {
  margin: 160px 48px 40px 48px;
  background-color: #EEEEEE;
  outline: solid #2196F3 2px;
  box-shadow: 5px 5px 4px gray;
  height: 100%;
}

.story-header {
  display: flex;
  flex-direction: column;
}

.story-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  background-color: #2196F3;
  color: #FFFFFF;
}

.story-title {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
}

.story-title:hover {
  cursor: pointer;
}

.story-creator-handle {
  font-family: "Quicksand", cursive;
  margin: 10px 10px;
}

.story-creator-handle:hover {
  cursor: pointer;
}

.cover-content {
  width: 100%;
  height: 300px;
}

.image {
  width: 100%;
  height: 100%;

}

.story-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px 48px 0px 48px;
}

.story-paragraph {
  font-family: "Quicksand", cursive;
  font-size: 26px;
  margin-top: 30px;
}

.toggle-contributions {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFA726;
  color: #E65100;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  height: 80px;
  width: 100%;
  position: sticky;
  bottom: 0px;
  z-index: 1;
}

.toggle-contributions:hover {
  cursor: pointer;
}

.error-exceed-max-chars {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-family: "Quicksand", cursive;
  font-weight: bold;
  border: 3px solid red;
  height: 50px;
  margin: 10px 48px 0px 48px;
}

.error-empty-contribution {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-family: "Quicksand", cursive;
  font-weight: bold;
  border: 3px solid red;
  height: 50px;
  margin: 10px 48px 0px 48px;
}

.error-message {
  margin: 0px 30px 0px 30px;
}

.new-contribution {
  margin: 40px 48px 0px 48px;
  background-color: #EEEEEE;
  outline: solid #2196F3 2px;
  height: 220px;
  box-shadow: 5px 5px 4px gray;
}

form {
  width: 100%;
}

#contribution-text {
  background-color: #EEEEEE;
  width: 100%;
  height: 180px;
  font-family: "Quicksand", cursive;
  font-size: 26px;
  border: hidden;
  resize: none;
}

.form-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -15px;
}

.fa-check {
  color: #E65100;
  background-color: #FFA726;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid #FFFFFF;
  border-radius: 30px;
  font-size: 25px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  box-shadow: 0 6px 10px 0px gray;
}

.fa-check:hover {
  cursor: pointer;
}

.fa-trash-can {
  color: #E65100;
  background-color: #FFA726;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid #FFFFFF;
  border-radius: 30px;
  font-size: 25px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 0 6px 10px 0px gray;
}

.fa-trash-can:hover {
  cursor: pointer;
}

textarea:focus {
  outline: none;
}

.contributions-container {
  display: flex;
  flex-direction: column;
}

.contribution {
  margin: 40px 48px 40px 48px;
  background-color: #EEEEEE;
  outline: solid #2196F3 2px;
  box-shadow: 5px 5px 4px gray;
  height: 100%;
}

.contribution-header {
  display: flex;
  flex-direction: row;
  padding: 10px 0px 0px 10px;
}

.fa-contribution {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0 6px 10px 0px gray;
}

.contribution-creator-handle {
  font-family: "Quicksand", cursive;
  margin: 10px 10px;
  color: #FFA726;
  font-size: 20px;
}

.contribution-creator-handle:hover {
  cursor: pointer;
}

.contribution-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0px 48px 0px 48px;
}

.upvote-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 0px -35px;
}

.fa-heart {
  font-size: 40px;
  color: #FFA726;
}

.fa-heart:hover {
  cursor: pointer;
}

.upvote-count {
  font-family: "Bebas Neue", cursive;
  color: #FFA726;
  font-size: 30px;
}

.contribution-paragraph {
  font-family: "Quicksand", cursive;
  font-size: 26px;
  margin-top: 5px;
}

.fa-check {
  color: #E65100;
  background-color: #FFA726;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid #FFFFFF;
  border-radius: 30px;
  font-size: 30px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  box-shadow: 0 6px 10px 0px gray;
}

.approve {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}

.contribution-footer {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

.approve-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #E65100;
  border-radius: 30px;
  outline: solid #FFFFFF;
  width: 70px;
  height: 70px;
  background-color: #FFA726;
  box-shadow: 0 6px 10px 0px gray;
  margin: -50px 20px 20px 0px;
}

.approve-button:hover {
  cursor: pointer;
}

.separator {
  margin: 10px 0px 130px 0px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: #FFA726;
  position: fixed;
  z-index: 2;
}

.fa-arrow-up {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E65100;
  background-color: #FFA726;
  box-shadow: 0 6px 10px 0px gray;
  border-radius: 50px;
  font-size: 80px;
  outline: solid #FFFFFF;
  padding: 0.3em;
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.fa-arrow-up:hover {
  cursor: pointer;
  animation-name: bounce-up;
  animation-timing-function: ease;
}

.upvote-red {
  color: red;
}

@keyframes bounce-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

/*# sourceMappingURL=story.css.map */
