body {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFA726;
  height: 100px;
  width: 100%;
  position: fixed;
}

.logo {
  padding-left: 48px;
  font-family: "Lobster", cursive;
  color: #FFFFFF;
  font-size: 40px;
}

.logo:hover {
  cursor: pointer;
}

.user {
  display: flex;
  color: #E65100;
  font-family: "Bebas Neue", cursive;
  padding-right: 48px;
}

.logout {
  font-size: 40px;
  color: #E65100;
}

.logout:hover {
  cursor: pointer;
}

.fa-user {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E65100;
  outline: solid #FFFFFF;
  border-radius: 30px;
  font-size: 30px;
  margin-right: 20px;
  padding: 0.3em;
  width: 50px;
  height: 50px;
}

.fa-user:hover {
  cursor: pointer;
}

.create-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #E65100;
  border-radius: 30px;
  outline: solid #FFFFFF;
  width: 100px;
  height: 100px;
  margin-top: 50px;
  background-color: #FFA726;
  box-shadow: 0 6px 10px 0px gray;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
.create-button:hover {
  cursor: pointer;
  animation-name: bounce-down;
  animation-timing-function: ease;
}

.create {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
}

.fa-pencil {
  font-size: 40px;
}

.new-story {
  margin: 155px 48px 0px 48px;
  background-color: #EEEEEE;
  outline: solid #2196F3 2px;
  height: 220px;
  box-shadow: 5px 5px 4px gray;
}

.new-story-header {
  padding-left: 10px;
  background-color: #2196F3;
  font-family: "Bebas Neue", cursive;
  color: #FFFFFF;
  font-size: 30px;
}

.new-story-content {
  display: flex;
}

form {
  width: 100%;
}

#story-text {
  background-color: #EEEEEE;
  width: 100%;
  height: 128px;
  font-family: "Quicksand", cursive;
  font-size: 26px;
  border: hidden;
  resize: none;
}

.fa-book {
  font-size: 100px;
  margin: 30px 20px 10px 20px;
}

.form-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -15px;
}

.fa-check {
  color: #E65100;
  background-color: #FFA726;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid #FFFFFF;
  border-radius: 30px;
  font-size: 25px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  box-shadow: 0 6px 10px 0px gray;
}

.fa-check:hover {
  cursor: pointer;
}

.fa-trash-can {
  color: #E65100;
  background-color: #FFA726;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid #FFFFFF;
  border-radius: 30px;
  font-size: 25px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 0 6px 10px 0px gray;
}

.fa-trash-can:hover {
  cursor: pointer;
}

textarea:focus {
  outline: none;
}

.welcome {
  font-family: "Quicksand", cursive;
  font-size: 35px;
  margin: 150px 48px 0px 48px;
  font-weight: bold;
}

.story-container {
  display: flex;
  flex-direction: column;
}

.story {
  margin: 10px 48px 40px 48px;
  background-color: #EEEEEE;
  outline: solid #2196F3 2px;
  box-shadow: 5px 5px 4px gray;
}

.story-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  background-color: #2196F3;
  color: #FFFFFF;
}

.story-title {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  color: #EEEEEE;
}

.story-title:hover {
  cursor: pointer;
}

.story-creator-handle {
  font-family: "Quicksand", cursive;
  margin: 8px 10px 0px 0px;
  color: #EEEEEE;
}

.story-creator-handle:hover {
  cursor: pointer;
}

.story-content {
  display: flex;
  flex-direction: row;
}
.cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.story-paragraph {
  font-family: "Quicksand", cursive;
  font-size: 26px;
  margin-top: 30px;
}

.separator {
  margin: 10px 0px 130px 0px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: #FFA726;
  position: fixed;
}

.fa-arrow-up {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E65100;
  background-color: #FFA726;
  box-shadow: 0 6px 10px 0px gray;
  border-radius: 50px;
  font-size: 80px;
  outline: solid #FFFFFF;
  padding: 0.3em;
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.fa-arrow-up:hover {
  cursor: pointer;
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
